@import url('https://fonts.googleapis.com/css2?family=McLaren&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap');

/***********************
 * Global default font *
 ***********************/
html * {
    font-family: 'Londrina Solid', cursive;
}

/*********
 * Fonts *
 *********/
.font-mclaren {
    font-family: 'McLaren', cursive;
}

.font-londrina {
    font-family: 'Londrina Solid', cursive;
}

.font-thin {
    font-weight: 100;
}

.font-light {
    font-weight: 300;
}

.font-regular {
    font-weight: 400;
}

.font-bold {
    font-weight: 900;
}

.font-large {
    font-size: 4rem;
}

.font-medium {
    font-size: 2rem;
}

.center {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
}

.scale-2 {
    margin: 1rem;
    transform: scale(2);
}

.menu-items-container {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}

.header {
    font-size: 3rem;
    text-align: center;
    border-bottom: 2px solid black;
    text-shadow: 4px 4px #00000044;
}

.header-mirror {
    font-size: 3rem;
    text-align: center;
    color: #eee;
    transform: scale(1, -1);
}

.text-center {
    text-align: center;
}

.rules-border {
    border: 2px solid black;
    border-radius: .5rem;
    display: inline-block;
    padding: 1.5rem;
}

.menu-button {
    width: 10em;
    height: 3em;
    font-size: 1.5em;
    border: 2px solid black;
    border-radius: .5em;
    outline: none;
    background-color: white;
}

.back-to-menu-button {
    position: absolute;
    top: 2.5%;
    left: 2.5%;
    width: 3rem;
    height: 3rem;
    padding: .5rem;
    background-color: white;
    background-image: url(../images/arrow-left.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: content-box;
}

.undo-redo-button-container {
    position: absolute;
    top: 2.5%;
    right: 2.5%;
}

.menu-button:hover {
    animation: wobble 0.4s ease-in-out;
    filter: invert(1);
    transition: filter 0.3s ease;
}

input[type="checkbox"] {
  filter: grayscale(100%);
}

.cell {
    width: 2.5rem;
    height: 4rem;
}

.cell:hover {
    filter: invert(1);
    transition: filter 0.3s ease;
}

.cell-shut {
    width: 2.5rem;
    height: 4rem;
    transform: scale(1, -1);
}

.hidden {
        opacity: 0;
}

.cell-spacer {
    width: 2.5rem;
    height: 4rem;
    opacity: 0;
}

.dice-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.dice {
    display: inline-block;
    text-align: center;
    border: 1px solid #999;
    border-radius: 1rem;
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    line-height: 4rem;
    background-color: #ccc;
    user-select: none;
}

.matchfield-container {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.matchfield-divider {
    width: 100%;
    height: 10%;
    border: 2px solid #888;
    border-radius: 999px;
}


.cell-flex {
    display: inline-flex;
    flex : 1;
    flex-direction: column;
    align-items: center;
}

/**************
 * Animations *
***************/
@keyframes bop {
  0% {
    transform: scale(0.75);
  }
  50%,
  100% {
    transform: scale(1);
  }
}

@keyframes bop2 {
  0% {
    transform: scale(1, -0.75);
  }
  50%,
  100% {
    transform: scale(1, -1);
  }
}

@keyframes wobble {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.bop {
    animation: bop 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite
        alternate;
}

.bop2 {
    animation: bop2 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite
            alternate;
}



/*********************
 * RESPONSIVE DESIGN *
 *********************/

 /* Smartphones (portrait) ----------- */
 @media only screen
 and (max-width : 375px) {
    .center {
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, 0%);
    }

    .header {
        line-height: 4rem;
        white-space: nowrap;
    }
    .header-mirror {
        line-height: 4rem;
        white-space: nowrap;
    }

    .cell {
        width: 1.75rem;
        height: 3rem;
    }

    .cell:hover {
        filter: invert(1);
        transition: filter 0.3s ease;
    }

    .cell-shut {
        width: 1.75rem;
        height: 3rem;
        transform: scale(1, -1);
    }

    .matchfield-container {
        position: absolute;
        top: 35%;
        left: 0%;
        transform: translate(0%, -50%);
        margin-left: 3rem;
    }
    .dice-container {
         position: absolute;
         left: 50%;
         transform: translateX(-50%);
    }

    .font-large {
        font-size: 3rem;
        white-space: nowrap;
    }

    .font-medium {
         font-size: 1.75rem;
     }
}

 /* Smartphones (landscape) ----------- */
 @media only screen
 and (min-width : 667px) {
    .center {
        position: absolute;
        top: 7.5%;
        left: 50%;
        transform: translate(-50%, 0%);
    }

    .menu-button {
        font-size: 1rem;
    }

    .header {
        font-size: 2rem;
        line-height: 2rem;
        white-space: nowrap;
    }
    .header-mirror {
    font-size: 2rem;
        line-height: 2rem;
        white-space: nowrap;
    }

    .cell {
        width: 1.75rem;
        height: 3rem;
    }

    .cell:hover {
        filter: invert(1);
        transition: filter 0.3s ease;
    }

    .cell-shut {
        width: 1.75rem;
        height: 3rem;
        transform: scale(1, -1);
    }

    .matchfield-container {
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -7.5%);
        margin-left: .75rem;
        margin-right: .75rem;
    }

    .font-large {
        font-size: 3rem;
        white-space: nowrap;
    }

    .font-medium {
         font-size: 1.75rem;
    }
 }
