@import url('https://fonts.googleapis.com/css2?family=McLaren&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap');

/***********************
 * Global default font *
 ***********************/
html * {
    font-family: 'Londrina Solid', cursive;
}

/*********
 * Fonts *
 *********/
.font-mclaren {
    font-family: 'McLaren', cursive;
}

.font-londrina {
    font-family: 'Londrina Solid', cursive;
}

.font-thin {
    font-weight: 100;
}

.font-light {
    font-weight: 300;
}

.font-regular {
    font-weight: 400;
}

.font-bold {
    font-weight: 900;
}

.font-large {
    font-size: 4rem;
}

.font-medium {
    font-size: 2rem;
}

.center {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.scale-2 {
    margin: 1rem;
    transform: scale(2);
}

.menu-items-container {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}

.header {
    font-size: 48pt;
    text-align: center;
    border-bottom: 2px solid black;
    text-shadow: 4px 4px #00000044;
}

.header-mirror {
    font-size: 48pt;
    text-align: center;
    color: #eee;
    transform: scale(1, -1);
}

.text-center {
    text-align: center;
}

.rules-border {
    border: 2px solid black;
    border-radius: .5rem;
    display: inline-block;
    padding: 1.5rem;
}

.menu-button {
    width: 10em;
    height: 3em;
    font-size: 1.5em;
    border: 2px solid black;
    border-radius: .5em;
    outline: none;
    background-color: white;
}

.back-to-menu-button {
    position: absolute;
    top: 2.5%;
    left: 2.5%;
    width: 3rem;
    height: 3rem;
    padding: .5rem;
    background-color: white;
    background-image: url(../images/arrow-left.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: content-box;
}

.menu-button:hover {
    animation: wobble 0.4s ease-in-out;
    filter: invert(1);
    transition: filter 0.3s ease;
}

input[type="checkbox"] {
  filter: grayscale(100%);
}

.cell {
    width: 2.5rem;
    height: 4rem;
}

.cell:hover {
    filter: invert(1);
    transition: filter 0.3s ease;
}

.cell-shut {
    width: 2.5rem;
    height: 4rem;
    transform: scale(1, -1);
}

.cell-spacer {
    width: 2.5rem;
    height: 4rem;
    opacity: 0;
}

.dice-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.dice {
    display: inline-block;
    text-align: center;
    border: 1px solid #999;
    border-radius: 1rem;
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    line-height: 4rem;
    background-color: #ccc;
    user-select: none;
}

.matchfield-container {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

.matchfield-divider {
    width: 100%;
    height: 10%;
    border: 2px solid #888;
    border-radius: 999px;
}

/************************
 * Grids for big matchfield *
 ************************/
.grid-unshut-container {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "u1 u2 u3 u4 u5 u6 u7 u8 u9 u10 u11 u12"
}

.grid-shut-container {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "s1 s2 s3 s4 s5 s6 s7 s8 s9 s10 s11 s12";
}

.grid-u1 { grid-area: u1; }
.grid-u2 { grid-area: u2; }
.grid-u3 { grid-area: u3; }
.grid-u4 { grid-area: u4; }
.grid-u5 { grid-area: u5; }
.grid-u6 { grid-area: u6; }
.grid-u7 { grid-area: u7; }
.grid-u8 { grid-area: u8; }
.grid-u9 { grid-area: u9; }
.grid-u10 { grid-area: u10; }
.grid-u11 { grid-area: u11; }
.grid-u12 { grid-area: u12; }

.grid-s1 { grid-area: s1; }
.grid-s2 { grid-area: s2; }
.grid-s3 { grid-area: s3; }
.grid-s4 { grid-area: s4; }
.grid-s5 { grid-area: s5; }
.grid-s6 { grid-area: s6; }
.grid-s7 { grid-area: s7; }
.grid-s8 { grid-area: s8; }
.grid-s9 { grid-area: s9; }
.grid-s10 { grid-area: s10; }
.grid-s11 { grid-area: s11; }
.grid-s12 { grid-area: s12; }


.fancy-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
}



/**************
 * Animations *
***************/
@keyframes bop {
  0% {
    transform: scale(0.75);
  }
  50%,
  100% {
    transform: scale(1);
  }
}

@keyframes bop2 {
  0% {
    transform: scale(1, -0.75);
  }
  50%,
  100% {
    transform: scale(1, -1);
  }
}

@keyframes wobble {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.bop {
    animation: bop 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite
        alternate;
}

.bop2 {
    animation: bop2 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite
            alternate;
}