@()

@main("HTWG Shut The Box") {

    <p>
    'SHUT THE BOX' ist ein einfaches, aber sehr verlockendes Würfelspiel.
    Es kann als nettes Trinkspiel oder als kleines Gesellschaftsspiel für zwischendurch gespielt werden.
    </p>
    <p>
    Es besteht aus einem Würfelbrett mit 9 schwenkbaren Klappen,
    beschrieben mit den Ziffern 1 bis 9 und zwei Würfeln.
    Zu Beginn des Spiels werden die Klappen in senkrechte Position gebracht.
    Ziel ist es, alle Klappen umzuschwenken, um so eine möglichst geringe Teamsumme zu erreichen.
    Das Umschwenken ist durch Würfeln und die damit erzielten Augenzahlen möglich.
    </p>
    <p>
    In dieser Version wird mit zwei Teams gespielt. TEAM 1 ist an der Reihe und muss würfeln.
    Es dürfen durch das Drücken der Tasten 1-9 auf der Tastatur folgende Spielsteine umgedreht werden:
    </p>
    <p>
    - Die Summe aus beiden Würfeln
    - Die Differenz der beiden Würfel (grösserer Wert minus kleinerer Wert)
    - Das Produkt der Würfel
    - Die Division beider Würfel (grösserer Wert geteilt durch kleineren Wert und ohne Rest)
    - Die einzelnen Werte beider Würfel
    </p>

    <p>
    Nach jedem Umschwenken muss mit der LEERTASTE neu gewürfelt werden.

    Wenn das Team etwas würfelt, das in allen oben genannten Fällen schon umgeklappt ist,
    ist das TEAM 1 mit seinem Spielzug fertig und darf nicht mehr würfeln.

    Nun muss die Taste [ n ] gedrückt werden und TEAM 2 darf spielen.

    Ziel des Spiels ist es, eine NIEDRIGERE Teamsumme zu erreichen als das Gegnerteam.
    Somit hat das Team mit der höheren Punktzahl verloren und muss einen Kurzen trinken.
    Danach geht das Ganze von vorne los. :-)
    </p>

}
