@(controller:de.htwg.se.shutthebox.controller.controllerComponent.ControllerInterface,
    errDice: Boolean, errShut: Boolean, errShutRoll: Boolean)

@field = @{ controller.matchfield.field }
@size = @{ controller.matchfield.field.size }
@dice = @{ controller.dice }

@main("HTWG Shut The Box") {
<button class="menu-button back-to-menu-button" onclick="location.href='/'"></button>
<div class="undo-redo-button-container">
    <button type="button" class="btn btn-outline-dark" onclick="location.href='/undo'">UNDO</button>
    <button type="button" class="btn btn-outline-dark" onclick="location.href='/redo'">REDO</button>
</div>
<div class="matchfield-container">
    <div>
    </div>
    <!-- big matchfield -->
    @if(size == 12) {
        <div class="grid-unshut-container">
            @for(index <- 0 until size) {
                @if(!field(index).isShut) {
                    <div class="grid-u@{index + 1}">
                        <button class="cell font-light" onclick="location.href='/shut/@{index + 1}'">
                            @{index + 1}
                        </button>
                    </div>
                }
            }
        </div>
    }
    <!-- small matchfield -->
    @if(size == 9) {
        <div class="grid-unshut-container-sm">
            @for(index <- 0 until size) {
                @if(!field(index).isShut) {
                    <div class="grid-u@{index + 1}-sm">
                        <button class="cell font-light" onclick="location.href='/shut/@{index + 1}'">
                            @{index + 1}
                        </button>
                    </div>
                }
            }
        </div>
    }
    <br>
    <div class="matchfield-divider"></div>
    <br>
    <!-- big matchfield -->
    @if(size == 12) {
        <div class="grid-shut-container">
            <div class="grid-s1">
                <button class="cell-spacer" disabled>
                </button>
            </div>
            @for(index <- 0 until size) {
                @if(field(index).isShut) {
                    <div class="grid-s@{index + 1}">
                        <button class="cell-shut font-light" disabled>
                            @{index + 1}
                        </button>
                    </div>
                }
            }
        </div>
    }
    <!-- small matchfield -->
    @if(size == 9) {
        <div class="grid-shut-container-sm">
            <div class="grid-s1-sm">
                <button class="cell-spacer" disabled>
                </button>
            </div>
            @for(index <- 0 until size) {
                @if(field(index).isShut) {
                    <div class="grid-s@{index + 1}-sm">
                        <button class="cell-shut font-light" disabled>
                            @{index + 1}
                        </button>
                    </div>
                }
            }
        </div>
    }
    <br>
    <div>
    @if(!errDice && !errShut && !errShutRoll) {
        <div class="alert alert-danger text-center invisible" role="alert">
            Platzhalter
        </div>
    }
    @if(errDice) {
        <div class="alert alert-danger text-center" role="alert">
            Würfeln ist noch nicht erlaubt!
        </div>
    }
    @if(errShut) {
        <div class="alert alert-danger text-center" role="alert">
            Dieser Spielzug ist nicht erlaubt!
        </div>
    }
    @if(errShutRoll) {
        <div class="alert alert-danger text-center" role="alert">
            Bitte zuerst würfeln!
        </div>
    }
        <div class="dice-container">
            <div class="dice">
                @{dice(0).value}
            </div>
            <div class="dice">
                @{dice(1).value}
            </div>
            <br>
            <br>
            <div class="dice-container">
                <button class="menu-button" onclick="location.href='/rollDice'">WÜRFELN!</button>
                <br><br>
                <div class="row justify-content-center">
                    <button class="btn btn-outline-dark btn-lg" onclick="location.href='/nextPlayer'">NÄCHSTER SPIELER</button>
                </div>
            </div>
        </div>
    </div>
</div>
}