@(controller:de.htwg.se.shutthebox.controller.controllerComponent.ControllerInterface)
@size = @{ controller.matchfield.field.size }

@main("HTWG Shut The Box") {
<script src='@routes.Assets.versioned("javascripts/vue.js")'></script>
<script src='@routes.Assets.versioned("javascripts/shuttheboxVue.js")'></script>
<button class="menu-button back-to-menu-button" onclick="location.href='/'"></button>
<div class="undo-redo-button-container">
    <button type="button" class="btn btn-outline-dark" onclick="undo()">UNDO</button>
    <button type="button" class="btn btn-outline-dark" onclick="redo()">REDO</button>
</div>
<div id="shutthebox-game" class="matchfield-container">
    <!-- matchfield -->
    <shutthebox-matchfield v-bind:gridsize="@{ size }"></shutthebox-matchfield>
    <br>
    <div>
        <br>
        <div id="err" class="alert alert-danger text-center" role="alert"></div>
        <div class="dice-container">
            <div id="die1" class="dice">
            </div>
            <div id="die2" class="dice">
            </div>
            <br>
            <br>
            <div class="dice-container">
                <button class="menu-button" onclick="rollDice()">WÜRFELN!</button>
                <br><br>
                <div class="row justify-content-center">
                    <button class="btn btn-outline-dark btn-lg" onclick="nextPlayer()">NÄCHSTER SPIELER</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>connectWebSocket(); resetErrorMsg(); updateDice(); updateField();</script>
}